* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

.logo img{
    width: 161px;
    height: 126px;
}

li, a {
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: red;
}

.intro_section {
    text-align: center;
    font-size: 24px;
}

.intro_2 {
    color: #2d3748;
    margin-top: 25px;
}

.intro_section button {
    margin-top: 41px ;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff0000;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 41px;
}

.button:hover {
    background-color: #cc0000;
}

